/*
   BASIC DEFAULTS
*/
html, body {
    height: 100%;
    margin: 0;
    background: #f5f6fa;
}

/* Wrapper to keep footer at bottom */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*   NAVBAR (Simple Black)*/

.navbar {
    background: #000 !important; /* Solid black */
    height: 70px;
}

.navbar-brand {
    color: #fff !important;
    font-weight: bold;
    font-size: 1.4rem;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

    .navbar-nav .nav-link:hover {
        color: #ffd700 !important;
    }
/*   PAGE CONTENT*/
.content-wrapper {
    padding-top: 70px;
    flex: 1;
}


/*   FOOTER (Simple Black)*/
footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
a {
    color: #0077cc;
}
